body {
  background-image: url("./space-tetris.jpg");
  text-align: center;
}
canvas {
  border: solid.2em white;
  height: 75vh;
  background-color: black;
  margin-top: 3vh;
}
#score {
  font-size:  36px;
  color: white;
  margin-top: 4vh;
  font-family: Arial, Helvetica, sans-serif;
}
